*{
    margin: 0;
    padding: 0;
}

.loader{
    margin-left:280px;
    margin-top: 100px;
    max-width: 400px;
}

.c-heading{
    font-family: Roboto Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    ;
}

.student-img{
    height: 110px;
    width: 110px;
    margin-left:40px;
}

.star{
    width: 40px;
    height: 40px;
    margin-left:120px;
    margin-top: -50px;
}

.student-name{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  #545454;
    margin-left: 40px;

}

.student-info{
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color:#545454;

}

.student-img-td{
    height: 70px;
    width: 70px;
    margin-left:0px;
    margin-top: 10px;
}

.star-td{
    width: 20px;
    height: 20px;
    margin-left:50px;
    margin-top: -40px;
}

.student-name-td{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  #545454;
    margin-left: 23px;

}

.student-info-td{
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    margin-left: 25px;
    margin-top: 10px;
    color:#545454;

}

.seperator{
    position: absolute;
    width: 242px;
    
    top: 145px;
    background-color: #C9C9C9;

    border: 1px solid #C9C9C9;
    transform: rotate(90deg);
}

.video-text{
    
    width: 394px;
    height: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}