*{
    margin: 0;
    padding: 0;
}

.loader{
    margin-left:280px;
    margin-top: 100px;
    max-width: 400px;
}

.c-heading{
    font-family: Roboto Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    ;
}

.student-img{
    height: 110px;
    width: 110px;
    margin-left:40px;
}

.star{
    width: 40px;
    height: 40px;
    margin-left:120px;
    margin-top: -50px;
}

.student-name{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  #545454;
    margin-left: 40px;

}

.student-info{
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color:#545454;

}

.student-img-td{
    height: 70px;
    width: 70px;
    margin-left:0px;
    margin-top: 10px;
}

.star-td{
    width: 20px;
    height: 20px;
    margin-left:50px;
    margin-top: -40px;
}

.student-name-td{
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:  #545454;
    margin-left: 23px;

}

.student-info-td{
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    margin-left: 25px;
    margin-top: 10px;
    color:#545454;

}

.seperator{
    position: absolute;
    width: 368px;
    top: 208px;
    left:283px;
    background-color: #C9C9C9;
    border: 1px solid #C9C9C9;
    transform: rotate(90deg);
}

.video-text{
    
    width: 394px;
    height: 52px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.pagination li .page-link {
    border: 1px solid #eacc64;
    color: black;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #eacc64;
    border-color: #eacc64;
  }
  
  .subjectButton {
    border-radius: 4px 0px 0px 4px;
    border-color: #d1d1d1;
    background: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* 🌕 Light Theme/Rest/Foreground/Default Foreground (#242424) */
  
    color: #242424;
  }
  .subjectButtonDrop {
    border-radius: 0px 4px 4px 0px;
    border-color: #d1d1d1;
    background: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 158% */
  
    display: flex;
    align-items: center;
    text-align: center;
  
    /* 🌕 Light Theme/Rest/Foreground/Default Foreground (#242424) */
  
    color: #242424;
  }


  .search-bar{
      display:flex;
  }
  
  .apply-btn{     
    width: 90px;
    height: 32px;
    background: #EACC6A;
    border-radius: 16px;
    border: 1px solid #EACC6A;
    margin-top: 3px;
    margin-left: 130px;

  }

  .clear-all-btn{
    width: 90px;
    height: 32px;
    background: #E4E4E2;
    border-radius: 16px;
    border: 1px solid #E4E4E2;
    margin-top: 3px;
    margin-left: 10px;
  }

  .card{
      margin-left: -10px;
  }
  